/* Error: From line 58, column 13 of src/css/_layout.scss: 
 *    ╷
 * 58 │             @extend %centered-content-computer;
 *    │             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    ╵
 * You may not @extend the same selector from within different media queries.
 *     ,
 * 290 |             @extend %centered-content-computer;
 *     |             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   src/css/_layout.scss 290:13  @use
 *   src/css/main.scss 2:1        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: From line 58, column 13 of src/css/_layout.scss: \a    \2577 \a 58 \2502              @extend %centered-content-computer;\a    \2502              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \aYou may not @extend the same selector from within different media queries.\a     \2577 \a 290 \2502              @extend %centered-content-computer;\a     \2502              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   src/css/_layout.scss 290:13  @use\a   src/css/main.scss 2:1        root stylesheet";
}
