// Gör sökrutan och sökknappen större när man för muspekaren över
$font-size: 16px;
$hover-size: 20px;
$transition-speed: 0.3s;

.search {
  input, button {
    font-size: $font-size;
    transition: font-size $transition-speed ease-in-out;

    &:hover {
      font-size: $hover-size;
    }
  }
}
.idea_link {
  font-size: $font-size;
  transition: font-size $transition-speed ease-in-out;

  &:hover {
    font-size: $hover-size;
  }
}