// Bakgrundsfärger
$background-color: (rgb(255, 255, 224));
$header-color: (rgb(255, 255, 142));
$footer-color: (rgb(255, 255, 142));
$button-color: (rgb(255, 255, 142));
$link-color: (gold);

// Textfärger
$dark-font-color: black;