.idea_body {
    display: grid;
    grid-template-areas: 
    "idea_header"
    "idea_main"
    "footer";
    grid-template-rows: auto;
    .idea_header {
        position: relative; 
          
        picture:last-of-type {
          grid-area: headerimg;
          grid-column: 1 / -1;
          grid-row: 1 / -1;
          
          img {
            max-width: 100vw;
            width: 100%;
            height: auto;
            object-fit: cover;
            display: block;
          }
        }
        // Text, ikon och sökfält ska ligga ovanpå bilden
        .header-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            background: rgb(255, 255, 224, 0.5); 
            color: black;
            padding: 2em 3em;
            border-radius: 1em;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1em;
            width: 60%; // begränsa bredden så det inte täcker hela bilden
            max-width: 600px;
          }
          // Overlay-lager för bättre kontrast
          &::before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: 1;
          }
    }
    .idea_main {
        .link {
            position: absolute;
            left: 2em;
            top: 2em;
            z-index: 100;
        }
      h3 {
        font-size: x-large;
        text-align: center;
        margin: 2em;
      }
    
      .top_list {
        ul {
          list-style: none; // tar bort punkter
          padding: 0;
          margin: 2em auto;
        }
    
        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          padding: 2em;
          max-width: 500px;
          width: 100%;
          margin: auto;
          margin-top: 2em;
          border-radius: 10px;
    
          .top_list_name {
            font-size: larger;
            font-weight: bold;
          }
          .top_list_text {
            max-width: 400px; // begränsar textbredd
            width: 100%;
            margin: 0.5em auto;
            line-height: 1.5;
          }
    
          picture {
            max-width: 400px;
            width: 100%;
            height: auto;
            margin-top: 0.5em;
          }
    
          img {
            max-width: 400px;
            width: 100%;
            height: auto;
          }
        }
      }
    }
}
@media (max-width: 600px) {
    header {
        position: relative;
        height: 30vh;
        overflow: hidden;

        h1 {
            font-size: x-large;
        }
        h2 {
            font-size: large;
        }
        .header_img {
            width: 100%;
            max-height: 30vh !important;
            height: 100% !important;   
            overflow: hidden;
            object-fit: cover; 
            display: block;
        }
    }
        .idea_main {
            position: relative;
            .link {
                position: absolute !important;
                top: 1em !important;
                left: 1em !important;
                font-size: small !important;
            }
            h3 {
                font-size: large !important;
                margin-top: 3em !important;
            }
        }
}