@use "base";

// Layout
@media (min-width: 1025px) {
    %centered-content-computer {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    body {
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-rows: auto;
        margin: 0;
        @extend %centered-content-computer;
        min-height: 100vh;

        .header {
            grid-area: header;
            margin-bottom: 2em;
            @extend %centered-content-computer;
            display: grid;
            grid-template-areas: 
            "icon h1 headertext search";
            grid-template-rows: auto;
            gap: 3em;
            padding: 2em;
            .icon {
                grid-area: icon;
            }
            h1 {
                grid-area: h1;
            }
            p {
                grid-area: headertext;
                margin-left: 5em;
            }
            .search {
                grid-area: search;
            }
        }
        .main {
            grid-area: main;
            display: grid;
            grid-template-areas: 
            "result";
            grid-template-rows: auto;
            padding: 2em;
            margin: auto;
            flex: 1;
            @extend %centered-content-computer;
            #result {
                grid-area: result;
                display: grid;
                grid-template-areas: 
                "drinkName drinkName"
                "img instructions"
                "img recept"
                "gif gif";
                grid-template-rows: auto auto auto;
                row-gap: 0.2em;
                @extend %centered-content-computer;
                h2 {
                    grid-area: drinkName;
                    font-size: xx-large;
                    margin-bottom: 2em;
                }
                img {
                    grid-area: img;
                    max-width: 300px;
                    width: 100%;
                    height: auto;
                    margin-right: 2em;
                    margin-left: 2em;
                }
                p {
                    grid-area: instructions;
                    font-size: larger;
                    max-width: 400px;
                    width: 100%;
                    margin-right: 2em;
                    margin-left: 2em;
                    margin-bottom: 0 !important;
                }
                ul {
                    grid-area: recept;
                    text-align: left;
                    line-height: 20px;
                    margin-right: auto;
                    margin-left: auto;
                    font-size: larger;
                    max-width: 400px;
                    width: auto;
                    margin-top: 0 !important;
                }
                .gif {
                    grid-area: gif;
                    max-width: 300px;
                    width: 100%;
                    height: auto;
                    margin-right: 2em;
                    margin-left: 2em;
                }
            }
        }
        .footer {
            grid-area: footer;
            @extend %centered-content-computer;
            margin-top: 3em;
            padding: 2em;
            width: 100vw;
            p {
                font-size: large;
            }
        }
    }
}
@media (max-width: 1024px) {
    %centered-content {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    body {
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-rows: auto;
        margin: 0;
        @extend %centered-content;

        .header {
            grid-area: header;
            margin-bottom: 2em;
            @extend %centered-content;
            display: grid;
            grid-template-areas: 
            "icon h1 headertext";
            grid-template-rows: auto;
            gap: 3em;
            padding: 2em;
            .icon {
                grid-area: icon;
            }
            h1 {
                grid-area: h1;
            }
            p {
                grid-area: headertext;
            }
        }
        .main {
            grid-area: main;
            padding: 2em;
            margin: auto;
            @extend %centered-content;
        }
        .footer {
            grid-area: footer;
            @extend %centered-content;
            margin-top: 3em;
            padding: 2em;
            width: 100vw;
            p {
                font-size: large;
            }
        }
    }
}
@media (max-width: 600px) {
    %centered-content-mobile {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    body {
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-rows: auto;
        margin: 0;
        @extend %centered-content-mobile;

        .header {
            grid-area: header;
            margin-bottom: 2em;
            @extend %centered-content-mobile;
            display: grid;
            grid-template-areas: 
            "icon h1"
            "headertextn headertext";
            grid-template-rows: auto;
            gap: 10px;
            padding: 1em;
            .icon {
                grid-area: icon;
            }
            h1 {
                grid-area: h1;
            }
            p {
                grid-area: headertext;
            }
        }
        .main {
            grid-area: main;
            padding: 2em;
            margin: auto;
            @extend %centered-content-mobile;
        }
        .footer {
            grid-area: footer;
            @extend %centered-content-mobile;
            margin-top: 3em;
            padding: 2em;
            width: 100vw;
            p {
                font-size: small;
            }
        }
    }
}