@use "base" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
}
h1, h2, h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
p, a, li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
// Layout
@media (min-width: 1025px) {
    %centered-content-computer {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    body {
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-rows: auto;
        margin: 0;
        @extend %centered-content-computer;

        .header {
            position: relative; 
          
            picture:last-of-type {
              grid-area: headerimg;
              grid-column: 1 / -1;
              grid-row: 1 / -1;
              
              img {
                max-width: 100vw;
                width: 100%;
                height: auto;
                object-fit: cover;
                display: block;
              }
            }
            // Text, ikon och sökfält ska ligga ovanpå bilden
            .header-content {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
                background: rgb(255, 255, 224, 0.5); 
                color: black;
                padding: 2em 3em;
                border-radius: 1em;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1em;
                width: 60%; // begränsa bredden så det inte täcker hela bilden
                max-width: 600px;
              }
              .drinkInput {
                border-radius: 10px;
                border: solid rgb(255, 255, 142);
                padding: 10px;
              }
              .search_button {
                border: solid rgb(255, 255, 142);
                border-radius: 10px;
                padding: 10px;
              }
            // Overlay-lager för bättre kontrast
            &::before {
              content: "";
              position: absolute;
              inset: 0;
              z-index: 1;
            }
            .inspo_text {
              margin-top: 2em;
              font-weight: bold;
            }
            .idea_link {
              border: solid $link-color;
              border-radius: 10px;
              padding: 10px;
              text-decoration: none;
              font-weight: bold;
            }
          }
        .wrapper {
            display: flex;
            flex-direction: column;
            min-height: 100vh; 
        }
        .main {
            grid-area: main;
            display: grid;
            grid-template-areas: 
            "result";
            grid-template-rows: auto;
            padding: 2em;
            margin: auto;
            flex: 1;
            @extend %centered-content-computer;
            #result {
                grid-area: result;
                display: grid;
                grid-template-areas: 
                "drinkName drinkName"
                "img instructions"
                "img recept"
                "gif gif";
                grid-template-rows: auto auto auto;
                row-gap: 0.2em;
                @extend %centered-content-computer;
                border-radius: 10px;
                h2 {
                    grid-area: drinkName;
                    font-size: xx-large;
                    margin-bottom: 2em;
                    margin-top: 1em;
                }
                img {
                    grid-area: img;
                    max-width: 300px;
                    width: 100%;
                    height: auto;
                    margin-right: 2em;
                    margin-left: 2em;
                    margin-bottom: 2em;
                }
                p {
                    grid-area: instructions;
                    font-size: larger;
                    max-width: 400px;
                    width: 100%;
                    margin-right: 2em;
                    margin-left: 2em;
                    margin-bottom: 0 !important;
                }
                ul {
                    grid-area: recept;
                    text-align: left;
                    line-height: 20px;
                    margin-right: auto;
                    margin-left: auto;
                    font-size: larger;
                    max-width: 400px;
                    width: auto;
                    margin-top: 0 !important;
                }
                .gif {
                    grid-area: gif;
                    max-width: 300px;
                    width: 100%;
                    height: auto;
                    margin-right: 2em;
                    margin-left: 2em;
                }
            }         
        }
        .footer {
            grid-area: footer;
            @extend %centered-content-computer;
            margin-top: 3em;
            padding: 2em;
            width: 100vw;
            p {
                font-size: large;
            }
        }
      }  
    } 

@media (max-width: 1024px) {
    %centered-content {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    body {
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-rows: auto;
        margin: 0;
        @extend %centered-content;


        .header {
            position: relative; // Gör headern till referens för absolut positionering
            height: 70vh;
            overflow: hidden;

            .header_img {
              width: 100%;
              max-height: 70vh !important;
              height: 100% !important;   
              overflow: hidden;
              object-fit: cover; 
              display: block;
            }
            picture:last-of-type {
              grid-area: headerimg;
              grid-column: 1 / -1;
              grid-row: 1 / -1;
              
              img {
                max-width: 100vw;
                width: 100%;
                height: auto;
                object-fit: cover;
                display: block;
              }
            }
            // Text, ikon och sökfält ska ligga ovanpå bilden
            .header-content {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
                background: rgb(255, 255, 224, 0.5); // Transparent bakgrund
                color: black;
                padding: 2em 3em;
                border-radius: 1em;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1em;
                width: 60%; // begränsa bredden så det inte täcker hela bilden
                max-width: 600px;
              }
              .drinkInput {
                border-radius: 10px;
                border: solid rgb(255, 255, 142);
                padding: 10px;
              }
              .search_button {
                border: solid rgb(255, 255, 142);
                border-radius: 10px;
                padding: 10px;
              }
              h2 {
                margin-top: 2em;
              }
            // Overlay-lager för bättre kontrast
              content: "";
              position: absolute;
              inset: 0;
              z-index: 1;
            }
            .inspo_text {
              margin-top: 2em;
              font-weight: bold;
            }
            .idea_link {
              border: solid $link-color;
              border-radius: 10px;
              padding: 10px;
              text-decoration: none;
              font-weight: bold;
            }
          }
        .wrapper {
            display: flex;
            flex-direction: column;
            min-height: 100vh; 
        }
        .main {
            grid-area: main;
            display: grid;
            grid-template-areas: 
            "result";
            grid-template-rows: auto;
            padding: 1em;
            margin: auto;
            flex: 1;
            @extend %centered-content;
            #result {
                grid-area: result;
                display: grid;
                grid-template-areas: 
                "drinkName drinkName"
                "img instructions"
                "img recept"
                "gif gif";
                grid-template-rows: auto auto auto;
                row-gap: 0.2em;
                @extend %centered-content;
                border-radius: 10px;
                h2 {
                    grid-area: drinkName;
                    font-size: xx-large;
                    margin-bottom: 1em;
                    margin-top: 1em;
                }
                img {
                    grid-area: img;
                    max-width: 200px;
                    width: 100%;
                    height: auto;
                    margin-right: 1em;
                    margin-left: 1em;
                    margin-bottom: 2em;
                }
                p {
                    grid-area: instructions;
                    font-size: larger;
                    max-width: 400px;
                    width: 100%;
                    margin-right: 1em;
                    margin-left: 1em;
                    margin-bottom: 0 !important;
                }
                ul {
                    grid-area: recept;
                    text-align: left;
                    line-height: 20px;
                    margin-right: auto;
                    margin-left: auto;
                    font-size: larger;
                    max-width: 400px;
                    width: auto;
                    margin-top: 1em;
                }
                .gif {
                    grid-area: gif;
                    max-width: 200px;
                    width: 100%;
                    height: auto;
                    margin-right: 1em;
                    margin-left: 1em;
                    margin-top: auto;
                }
            }
        }
        .footer {
            grid-area: footer;
            @extend %centered-content;
            margin-top: 3em;
            padding: 2em;
            width: 100vw;
            p {
                font-size: large;
            }
        }
    }
@media (max-width: 600px) {
    %centered-content-mobile {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    body {
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-rows: auto;
        margin: 0;
        @extend %centered-content-mobile;
          header {
            position: relative;
            height: 50vh;
            overflow: hidden;
            .header-content {
              width: 80% !important;
              max-width: 600px !important;
              gap: 0.5em !important;
            }
            h1 {
                font-size: x-large;
            }
            h2 {
                font-size: large;
            }
            .header_img {
                width: 100%;
                max-height: 50vh !important;
                height: 100% !important;   
                overflow: hidden;
                object-fit: cover; 
                display: block;
            }
            .drinkInput {
              border-radius: 10px;
              border: solid rgb(255, 255, 142);
              padding: 5px;
            }
            .search_button {
              border: solid rgb(255, 255, 142);
              border-radius: 10px;
              padding: 5px;
            }
        }
        .main {
            grid-area: main;
            display: grid;
            grid-template-areas: 
            "result";
            grid-template-rows: auto;
            padding: 2em;
            margin: auto;
            flex: 1;
            @extend %centered-content-mobile;
            #result {
                grid-area: result;
                display: grid;
                grid-template-areas: 
                "drinkName"
                "img"
                "instructions"
                "recept"
                "gif";
                grid-template-rows: auto auto auto;
                row-gap: 1em;
                @extend %centered-content-mobile;
                justify-items: center;
                h2 {
                    grid-area: drinkName;
                    font-size: larger;
                    margin-bottom: 2em;
                }
                img {
                    grid-area: img;
                    max-width: 200px;
                    width: 100%;
                    height: auto;
                    margin-right: auto;
                    margin-left: auto;
                    @extend %centered-content-mobile
                }
                p {
                    grid-area: instructions;
                    font-size: medium;
                    max-width: 300px;
                    width: 100%;
                    margin-right: 2em;
                    margin-left: 2em;
                    margin-bottom: 1em;
                }
                ul {
                    grid-area: recept;
                    text-align: left;
                    line-height: 20px;
                    margin-right: auto;
                    margin-left: auto;
                    font-size: medium;
                    max-width: 300px;
                    width: auto;
                    margin-top: 0 !important;
                }
                .gif {
                    grid-area: gif;
                    max-width: 200px;
                    width: 100%;
                    height: auto;
                    margin-right: auto;
                    margin-left: auto;
                    @extend %centered-content-mobile
                }
            }
        }
        .footer {
            grid-area: footer;
            @extend %centered-content-mobile;
            margin-top: 3em;
            padding: 2em;
            width: 100vw;
            p {
                font-size: small;
            }
        }
    }
}