@use "base";

// Svart text
@mixin dark-text {
    color: base.$dark-font-color;
}

@media (min-width: 1px) {
    body {
        background-color: base.$background-color;
        @include dark-text;
        header {
            background-color: base.$header-color;
            .drinkInput {
                background-color: base.$background-color;
            }
            .search_button {
                background-color: base.$button-color;
            }
            a {
                @include dark-text;
                background-color: base.$link-color;
            }
        }
        main {
            background-color: base.$background-color;
            #result {
                background-color: base.$header-color;
            }
            .link {
                @include dark-text;
            }
            .top_list li {
                background-color: base.$header-color;
            }
        }
        footer {
            background-color: base.$footer-color;
        }
    }
}